body {
  background: rgb(235, 235, 244);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}

.input-text {
 width: 300px;
 height: 50px;
 background: white;
 border-radius: 30px;
 padding: 0 15px;
 font-size: 18px;
 box-shadow: 3px 3px 3px white;
 border: none;
 margin-right: 20px;
 margin-bottom: 50px;
}

.input-text:focus {
  outline: none;
}

.button {
  font-size: 18px;
  padding: 12px;
  border-radius: 30px;
  color: #2b2c2f;
  border: none;
  box-shadow: 3px 3px 3px white;
}

.todo {
  display: flex;
  text-align: center;
  background-color: cornflowerblue;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
  margin: 10px;
  align-items: center;
  border-radius: 30px;
  width: 300px;
  height: 50px;
  justify-content: space-between;
}

.button-delete {
  font-size: 22px;
  padding: 8px;
  margin-left: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}